<div class="page-title">
  <span>{{ title }}</span>
</div>
<div class="container">
  <div class="row my-5">
    <div class="col-md-7">
      <p>Dear Friend,</p>
      <p>When Fullerton Markets was birthed, I shared our vision that we would be a disruptive force in the trading industry
        in three areas:</p>
      <p>
        <b>1) Safety of Funds</b>
      </p>
      <p>All clients enjoy unparalleled fund safety with 2 levels:</p>
      <p>1) Segregated Accounts (via ANZ Bank)</p>
      <p>2) Independent Trustee Administration (via Kiwi Global Trust)</p>

      <p>
        <b>2) Speed of Execution</b>
      </p>
      <p>
        In the brokerage world, an acceptable speed of execution is between 350 milliseconds (m/s) to 500 m/s. However, with our
        Straight-Through-Processing (STP) model, we have spared no expense to ensure low latency connectivityto our dedicated
        servers in London. This setup has brought down trade execution to 200 m/s, one of the fastest in the retail trading
        world.
      </p>
      <p>
        <b>3) System of Wealth Creation</b>
      </p>
      <p>We truly believe that anyone can create wealth in the markets; either by trading or by business-building. Here's how
        we support traders and IBs:</p>
      <p>
        <b>
          <u>Traders</u>
        </b>
      </p>
      <ul>
        <li>Weekly Research</li>
        <li>Weekly Webinars</li>
        <li>Trading Videos</li>
      </ul>
      <p>
        <b>
          <u>IBs</u>
        </b>
      </p>
      <ul>
        <li>Fullerton Suite (a powerful back-office)</li>
        <li>Attractive Rebate Payouts (paid instantly)</li>
        <li>PipBox(Complete toolbox of internet marketing and social media marketing)</li>
      </ul>
      <p>
        Remember the
        <b>"3S"</b> of Safety, Speed and System the next timesomeone asks you: "How will Fullerton Markets disrupt the industry?"
      </p>
      <p>
        With Gratitude,
      </p>
      <img src="https://www.fullertonmarkets.com/hs-fs/hubfs/e-sig%20edit.jpeg?t=1522656693063&width=173&name=e-sig%20edit.jpeg"
        alt="sign">
      <p>
        Mario Singh
      </p>
    </div>
    <div class="col-md-5">
      <img src="https://www.fullertonmarkets.com/hs-fs/hubfs/fullerton_markets/others/MS.png?t=1522656693063&width=375&name=MS.png"
        class="img-fluid">
    </div>
  </div>
</div>
