<div class="page-title">
  <span>{{ title }}</span>
</div>
<div class="container">
  <div class="row mx-0">
    <p>
      Fullerton Market’s foreign currency pairs are based on floating spreads priced from our Tier-1 Liquidity Providers (LPs).
      Price spreads vary throughout the day depending on factors such as available liquidity (supply and demand), market
      forces, volatility, and the trading session.
    </p>
    <p>
      Fullerton Markets offers two types of spread to our clients, namely:
    </p>
    <ol class="no-padding">
      <li>
        Variable Spreads on the Fullerton Markets MT4 platform are derived from our Tier-1 Liquidity Providers in Equinix LD4 (a
        FX-specific data center in London). There are no commissions charged for trade execution, but a brokerage fee is
        collected from the spreads.
      </li>
      <li>
        ECN Spreads are derived from an Electronic Communication Network (ECN) that is set up with multiple Liquidity Providers,
        including banks and hedge funds in Equinix LD4 (a FX-specific data center in London). Traders get to enjoy raw spreads
        for as low as 0.1 pips direct from the market participants at a flat fee of only 10 USD per lot in commission charged
        for Forex instruments.
      </li>
    </ol>
    <div class="row mx-0 w-100">
      <div class="table-responsive w-100">
        <table class="table table-striped text-center">
          <thead class="bg-secondary">
            <tr>
              <th scope="col"></th>
              <th scope="col" style="text-align: center;">Variable Spread</th>
              <th scope="col" style="text-align: center;">ECN Spread</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <strong>Straight Through Processing (STP)</strong>
              </td>
              <td>Tier One Liquidty Providers</td>
              <td>Electronic Communication Network (ECN)</td>
            </tr>
            <tr>
              <td>
                <strong>Pricing</strong>
              </td>
              <td>Variable Spread</td>
              <td>Raw ECN spread direct from market as low as 0.1 pips</td>
            </tr>
            <tr>
              <td>
                <strong>Commission</strong>
              </td>
              <td>No Commission Charged</td>
              <td>Flat fee of 10 USD per lot commission for Forex instruments</td>
            </tr>
            <tr>
              <td>
                <strong>Brokerage Fee</strong>
              </td>
              <td>Fees are included in the spread.</td>
              <td>
                No additional markups on the spread
              </td>
            </tr>
            <tr>
              <td>
                <strong>Advantage</strong>
              </td>
              <td>No additional fees are charged</td>
              <td>Raw spreads direct from the market</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
