<div class="page-title">
  <span>{{ title }}</span>
</div>
<div class="container">
  <div class="row mx-0 my-5">
    <div class="col-md-3 my-2 text-center"><img src="https://www.fullertonmarkets.com/hs-fs/hubfs/fullerton_markets/page/website/images/Funding%20and%20withdrawal%20/EN/Box-CreditCard-01.png" alt="" class="img-fluid"></div>
    <div class="col-md-3 my-2 text-center"><img src="https://www.fullertonmarkets.com/hs-fs/hubfs/fullerton_markets/page/website/images/Funding%20and%20withdrawal%20/EN/Box-DigitalWallet-03.png" alt="" class="img-fluid"></div>
    <div class="col-md-3 my-2 text-center"><img src="https://www.fullertonmarkets.com/hs-fs/hubfs/fullerton_markets/page/website/images/Funding%20and%20withdrawal%20/EN/Box-BankWireTransfer-01.png" alt="" class="img-fluid"></div>
    <div class="col-md-3 my-2 text-center"><img src="https://www.fullertonmarkets.com/hs-fs/hubfs/fullerton_markets/page/website/images/Funding%20and%20withdrawal%20/EN/Box-LocalTransfer-TH-03.png" alt="" class="img-fluid"></div>
    <div class="col-md-3 my-2 text-center"><img src="https://www.fullertonmarkets.com/hs-fs/hubfs/fullerton_markets/page/website/images/Funding%20and%20withdrawal%20/EN/Box-LocalTransfer-MY-03.png" alt="" class="img-fluid"></div>
    <div class="col-md-3 my-2 text-center"><img src="https://www.fullertonmarkets.com/hs-fs/hubfs/fullerton_markets/page/website/images/Funding%20and%20withdrawal%20/EN/Box-LocalTransferChina-03.png" alt="" class="img-fluid"></div>
    <div class="col-md-3 my-2 text-center"><img src="https://www.fullertonmarkets.com/hs-fs/hubfs/fullerton_markets/page/website/images/Funding%20and%20withdrawal%20/EN/Box-LocalTransfer-ID-03.png" alt="" class="img-fluid"></div>
    <div class="col-md-3 my-2 text-center"><img src="https://www.fullertonmarkets.com/hs-fs/hubfs/fullerton_markets/page/website/images/Funding%20and%20withdrawal%20/EN/Box-LocalTransfer-VN-02.png" alt="" class="img-fluid"></div>
  </div>
</div>