<div class="container full-container">
  <div class="page-title">
    <span>{{ title }}</span>
  </div>
  <div class="row mx-0 flex-column mt-5">
    <div class="h4">Fullerton Markets is expanding!</div>
    <p>

      We are looking to hire 27 solid individuals in the following areas:
    </p>

    <ul>
      <li>
        <a href="#">Business Development</a>
      </li>
      <li>
        <a href="#">Research Analyst</a>
      </li>
      <li>
        <a href="#">Operations Executive</a>
      </li>
      <li>
        <a href="#">IT/Software Engineer</a>
      </li>
    </ul>

    <p>

      If you think you have what it takes to work with a fast-growing company, please send your resume to hr@fullertonmarkets.com.
    </p>
  </div>
</div>
