<div class="cover-title">
  <div class="title-large text-capitalize font-weight-bold text-white">
    Money Manager
  </div>
</div>
<div class="container">
  <div class="row mx-0">
    <p class="mt-3">
      Introducing Brokers (IBs) are partners who manage and run one or several business portfolios under the coveted brand of Fullerton
      Markets.
    </p>
    <p>
      Under the current volatile economic climate, Money Managers are in high demand. They play a critical role in managing client
      assets on our trading platform.
    </p>
    <p class="w-100">
      As a Money Manager in Fullerton Markets, you will receive the following perks:
    </p>
    <ul class="no-padding">
      <li>Receive client assets in four different currencies</li>
      <li>State-of-the-art Money Management Software</li>
      <li>Manage unlimited accounts from one master account</li>
      <li>Receive profession client reporting documents</li>
    </ul>
    <p class="w-100">
      Four methods of money managers
    </p>
    <ul class="no-padding">
      <li>Lot Allocation</li>
      <li>Percent Allocation</li>
      <li>Proportional by Balance Allocation</li>
      <li>Proportional by Equity Allocation</li>
    </ul>
  </div>
  <a routerLink="/register" class="btn btn-secondary btn-lg text-uppercase">Become a Money Manager</a>
  <div class="small mt-3 mb-5">
    (Create a trading account on our platform, then register as a Money Manager)
    <br> We take your interest seriously and would like to have an in depth understanding of your business. Please email us at
    <b>partners@fullertonmarkets.com</b>. Our dedicated Business Development Managers will contact you as soon as possible.
  </div>
</div>
