<div class="page-title">
  <span>{{ title }}</span>
</div>
<div class="container">
  <div class="row mx-0 my-5">
    <div class="col-md-6">
      <p class="font-weight-bold">
        Fullerton Markets Limited
        <br> West Plaza
        <br> Level 8, 3 Albert Street,
        <br> Auckland 1010, New Zealand
      </p>
      <p>
        Company Number 5810357
        <br> Financial Services Provider Number FSP477046
        <br> Financial Services Complaints Ltd Number 6292
      </p>
      <p>
        <b>United Kingdom</b>
        <br> Fullerton Markets (UK) Limited
        <br> International House,
        <br> 24 Holborn viaduct,
        <br> London, EC1A 2BN
      </p>
    </div>
    <div class="col-md-6">
      <p>
        Fullerton Markets is Asia's fastest growing brokerage firm. Enjoy unmatched fund safety which comes with Trustee Liability
        insurance from AIG.
        <br>
        <br> Drop us an email at corporate@fullertonmarkets.com or fill in your enquiry below.
      </p>
      <form>
        <div class="form-group">
          <label>First Name</label>
          <input type="text" class="form-control">
        </div>
        <div class="form-group">
          <label>Last Name</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control">
        </div>
        <div class="form-group">
          <label>Message</label>
          <textarea class="form-control" rows="3"></textarea>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
      </form>
    </div>
  </div>
</div>
