<div class="page-title">
  <span>{{ title }}</span>
</div>
<div class="container">
  <div class="row mx-0 my-5 flex-column">
    <div id="accordion">
      <div class="h4 mb-3">MT4 Trading Platform</div>
      <div class="card">
        <div class="card-header" id="heading-1" data-toggle="collapse" data-target="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
          <h6 class="mb-0 font-weight-normal">
            <i class="fa fa-plus-circle fa-fw"></i> Do you provide tutorial videos on how to use the MT4 platform?
          </h6>
        </div>
        <div id="collapse-1" class="collapse" aria-labelledby="heading-1" data-parent="#accordion">
          <div class="card-body">
            Yes. You may access the MT4 videos via Fullerton Suite upon registration. Please register here.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading-2" data-toggle="collapse" data-target="#collapse-2" aria-expanded="true" aria-controls="collapse-2">
          <h6 class="mb-0 font-weight-normal">
            <i class="fa fa-plus-circle fa-fw"></i> Can I change the chart time in MT4?
          </h6>
        </div>
        <div id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion">
          <div class="card-body">
            You cannot change the chart time in your MT4 platform. The chart time is configured and standardised in our server. The chart
            time 00:00 hrs is aligned to New York 17:00 hrs.
          </div>
        </div>
      </div>
      <div class="card">
        <div class="card-header" id="heading-3" data-toggle="collapse" data-target="#collapse-3" aria-expanded="true" aria-controls="collapse-3">
          <h6 class="mb-0 font-weight-normal">
            <i class="fa fa-plus-circle fa-fw"></i> Where can I download the MT4 Trading Platform for Windows/MAC?
          </h6>
        </div>
        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion">
          <div class="card-body">
            You may download the MT4 trading platform for Windows/Mac via Fullerton Suite upon registration. Please register here.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
