
  <div class="footer fp-auto-height">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-12">
          <img src="/assets/logo.png" class="img-fluid" alt="" style="max-width: 180px;">
          <div class="row mx-0 mt-4">
            <div class="small">Fullerton Markets is Asia's fastest growing brokerage firm. Enjoy unmatched fund safety which comes with Trustee
              Liability insurance.</div>
            <div class="small mt-2">
              <b>Fullerton Markets Limited</b>
              <br> West Plaza, Level 8, 3 Albert Street,
              <br> Auckland, 1010, New Zealand
              <br>
              <br> Contact us : +64 9 352 2029
            </div>
          </div>
        </div>
        <div class="col-md-7 col-12 mx-auto">
          <div class="row mx-0">
            <div class="col-md-8 col-12">
              <span class="ft-title">Explore</span>
              <div class="row mx-0 no-gutters">
                <div class="col-md-6 col-12 pr-md-2 pr-0">
                  <ul>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/ceo-message">CEO Message</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/fullerton-edge">Fullerton Edge</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/sponsorship">Sponsorships</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/csr">Fullerton Foundation</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/our-awards">Our Awards</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/signup">Open Account</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/spread-types">Spread Types</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/instruments">Instruments</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/funding-and-withdrawal">Funding and Withdrawal</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-6 col-12 pl-md-2 pl-0">
                  <ul>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/copy-trading">Copy Trading</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/promotions">Promotions</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/partnership">Partnership</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/media">Media &amp; Events</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/education">Education</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/faq">FAQ</a>
                    </li>
                    <li>
                      <a class="links" href="https://secure.fullertonmarkets.com/chat/phplive.php">Live Chat</a>
                    </li>
                    <li>
                      <a class="links" href="https://www.fullertonmarkets.com/career">Career</a>
                    </li>
                    <li>
                      <a class="links" href="https://secure.fullertonmarkets.com/">Login</a>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
            <div class="col-md-4 col-12">
              <span class="ft-title">Newsletter</span>
              <form class="social-links mb-5">
                <div class="form-group">
                  <input type="email" class="form-control" id="email" aria-describedby="email" placeholder="Enter email">
                </div>
                <button type="submit" class="btn btn-secondary text-uppercase">Subscribe</button>
              </form>
              <span class="ft-title">Follow Us</span>
              <div class="d-flex social-links">
                <a href="#" class="links mr-3">
                  <i class="fa fa-linkedin fa-lg"></i>
                </a>
                <a href="#" class="links mr-3">
                  <i class="fa fa-facebook fa-lg"></i>
                </a>
                <a href="#" class="links mr-3">
                  <i class="fa fa-twitter fa-lg"></i>
                </a>
                <a href="#" class="links">
                  <i class="fa fa-instagram fa-lg"></i>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-5 mx-0">
        <div class="small d-flex flex-column">
          <span class="font-weight-bold mb-3">
            Fullerton Markets is proud to offer its list of products and services to its growing number of global clients. Spot forex
            and Derivatives are available to all clients. Please note: Fullerton Markets currently do not offer services
            to New Zealand residents.
          </span>
          <span class="font-weight-bold mb-2">
            Legal Risk Disclosure:
          </span>
          Trading foreign exchange on margin carries a high level of risk, and may not be suitable for all investors. The high degree
          of leverage can work against you as well as for you. Before deciding to trade foreign exchange you should carefully
          consider your investment objectives, level of experience and risk appetite. The possibility exists that you could
          sustain a loss of some or all of your initial investment and therefore you should not invest money that you cannot
          afford to lose. You should be aware of all the risks associated with foreign exchange trading, and seek advice
          from an independent financial advisor.
        </div>
      </div>
    </div>
  </div>