<div class="cover-title">
  <div class="title-large text-capitalize font-weight-bold text-white">
    White Label
  </div>
</div>
<div class="container">
  <div class="row mx-0">
    <p class="mt-3">
      White Labels (WLs) are strategic brand builders who promote their own brokerage firm with customised solutions and state-of-the-art
      trading infrastructure provided by Fullerton Markets. As a White Label, you get peace of mind with Fullerton Markets
      doing the heavy lifting for you so that you can focus purely on your strength – marketing and business-building.
    </p>
    <p class="w-100">
      As an White Label, you will get the following perks:
    </p>
    <ul class="no-padding">
      <li>Operate a proven business model with your own company name</li>
      <li>Receive a turnkey package</li>
      <li>Save costs on IT, infrastructure, liquidity and operational staff</li>
      <li>Establish an immediate presence</li>
      <li>Customised price feed and rebate structure</li>
      <li>Customised trading platform with multiple groups/li>
      <li>Leverage on proven experience by the industry’s top professionals</li>
    </ul>
  </div>
  <a routerLink="/register" class="btn btn-secondary btn-lg text-uppercase">Become a White Label Today</a>
  <div class="small mt-3 mb-5">
    (Create a trading account on our platform, then register as an White Label)
    <br> We take your interest seriously and would like to have an in depth understanding of your business. Please email us at
    <b>partners@fullertonmarkets.com</b>. Our dedicated Business Development Managers will contact you as soon as possWhite Labelle.
  </div>
</div>
