<div class="page-title">
  <span>{{ title }}</span>
</div>
<div class="container">
  <div class="row align-items-center p-3">
    <div class="col-md-9 pr-md-5">
      <div class="h4 mt-3">
        Fullerton Markets Sponsors Vietnam Badminton Tournament
      </div>
      <p>
        Ho Chi Minh, Vietnam (22
        <sup>nd</sup> -23
        <sup>rd</sup> July 2017) - Fullerton Markets is proud to be the first ever brokerage to sponsor the Vietnam Badminton
        Tournament. The 2 day event will be held at Phu Tho Stadium and we are proud to be the match day sponsors of this
        event!
      </p>
      <a href="https://www.facebook.com/FullertonMarketsVietnam/posts/1924459414481381" class="btn btn-secondary" target="_blank">FIND OUT MORE</a>
    </div>
    <div class="col-md-3 text-center order-first">
      <img src="https://www.fullertonmarkets.com/hs-fs/hubfs/Vietnam%20Badminton%20Open.jpg?t=1522823509477&width=1356&name=Vietnam%20Badminton%20Open.jpg"
        alt="" class="img-fluid my-3">
    </div>
  </div>
  <div class="row align-items-center p-3 border border-left-0 border-right-0 border-secondary">
    <div class="col-md-9 pr-md-5">
      <div class="h4 mt-3">
        Fullerton Markets Sponsors Wellington Gold Awards 2017
      </div>
      <p>
        Wellington, New Zealand (31st May 2017) - Fullerton Markets announced a sponsorship for the second year in a row for the
        high profile 2017 Wellington Gold Awards. We are proud sponsors of the Creative Gold Award that celebrates film,
        media & creative content.
      </p>
      <a href="https://goldawards.co.nz/2017+finalists/2017+finalists+-+all?src=nav" class="btn btn-secondary" target="_blank">FIND OUT MORE</a>
    </div>
    <div class="col-md-3 text-center order-first">
      <img src="https://cdn-flightdec.userfirst.co.nz/uploads/sites/goldawards/files/home_page_top_content/WGA17_Top_white.png?1496959930668"
        alt="" class="img-fluid my-3">
    </div>
  </div>
  <div class="row align-items-center p-3">
    <div class="col-9 pr-md-3">
      <div class="h4 mt-3">
        Fullerton Markets Becomes Front-of-Jersey Sponsor for The Hurricanes
      </div>
      <p>
        Wellington, New Zealand (18th January 2017) - Fullerton Markets Renews Sponsorship with Hurricanes Super Rugby Champions
        including a front of jersey sponsorship for all their home games for the next 3 years.
      </p>
      <a href="https://www.hurricanes.co.nz/news/article/item/canes-announce-fullerton-markets-kia-motors-nz-as-front-of-jersey-sponsors/"
        class="btn btn-secondary" target="_blank">FIND OUT MORE</a>
    </div>
    <div class="col-md-3 text-center order-first">
      <img src="https://www.hurricanes.co.nz/fileadmin/templates/img/HURRICANES.png" alt="" class="img-fluid my-3">
    </div>
  </div>
  <div class="row align-items-center p-3 border border-bottom-0 border-left-0 border-right-0 border-secondary">
    <div class="col-9 pr-md-3">
      <div class="h4 mt-3">
        Fullerton Markets sponsors Community Service Award
      </div>
      <p>
        Wellington, New Zealand (19th November 2016) – We are proud to be a category sponsor for Community Service to honour individuals
        who make an important contribution within the Wellington community and work tirelessly behind the scenes.
      </p>
      <a href="https://wellys.co.nz/2016%20recipients%20descriptions" class="btn btn-secondary" target="_blank">FIND OUT MORE</a>
    </div>
    <div class="col-md-3 text-center order-first">
      <img src="https://www.fullertonmarkets.com/hs-fs/hubfs/The-Wellys.png?t=1522823509477&width=500&name=The-Wellys.png" alt=""
        class="img-fluid my-3">
    </div>
  </div>
</div>
