<div class="page-title">
  <span>{{ title }}</span>
</div>
<div class="container">
  <div class="row align-items-center p-3">
    <div class="col-9 pr-md-5">
      <div class="h4 mt-3">
        Best New ECN Broker Asia Pacific 2017
      </div>
      <p>
        Fullerton Markets is proud to have clinched the Global Banking and Finance Review award - Best New ECN Broker Asia Pacific
        2017! We are honoured to be able to demonstrate a commitment to quality and innovation, providing all clients with
        the technology, infrastructure and market news needed to be competitive in the online trading market.
      </p>
    </div>
    <div class="col-3 text-center">
      <img src="/assets/award-1.png" alt="" class="img-fluid my-3">
    </div>
  </div>
  <div class="row align-items-center p-3 border border-left-0 border-right-0 border-secondary">
    <div class="col-9 pr-md-5">
      <div class="h4 mt-3">
        Best New STP Broker Asia Pacific 2017
      </div>
      <p>
        Fullerton Markets is proud to be the recipient of the Global Banking and Finance Review award - Best New STP Broker Asia
        Pacific 2017! We are deeply honoured to be recognised for this award and are humbled to receive it!
      </p>
    </div>
    <div class="col-3 text-center">
      <img src="/assets/award-2.png" alt="" class="img-fluid my-3">
    </div>
  </div>
  <div class="row align-items-center p-3">
    <div class="col-9 pr-md-3">
      <div class="h4 mt-3">
        Best New Trade Execution Asia Pacific 2017
      </div>
      <p>
        Fullerton Markets is honoured to receive the Global Banking and Finance Review award - Best New Trade Execution Asia Pacific
        2017! We are thankful for the award which will spur us to further challenge, progress and inspire change in finance
        all around the globe.
      </p>
    </div>
    <div class="col-3 text-center">
      <img src="/assets/award-3.png" alt="" class="img-fluid my-3">
    </div>
  </div>
</div>
