<div class="page-title">
  <span>{{ title }}</span>
</div>
<div class="container">
  <div class="row mx-0 my-5">
    <div class="col-md-3 mt-md-0 mt-5 text-center">
      <img src="assets/Instruments-Forex.png" alt="" class="img-fluid">
      <div class="h4 mt-md-0 mt-2 mb-3">
        Forex
      </div>
      <a href="#" class="btn btn-secondary">Find Out More</a>
    </div>
    <div class="col-md-3 mt-md-0 mt-5 text-center">
      <img src="assets/Instruments-Metals.png" alt="" class="img-fluid">
      <div class="h4 mt-md-0 mt-2 mb-3">
        Metals
      </div>
      <a href="#" class="btn btn-secondary">Find Out More</a>
    </div>
    <div class="col-md-3 mt-md-0 mt-5 text-center">
      <img src="assets/Instruments-CFD.png" alt="" class="img-fluid">
      <div class="h4 mt-md-0 mt-2 mb-3">
        Indices
      </div>
      <a href="#" class="btn btn-secondary">Find Out More</a>
    </div>
    <div class="col-md-3 mt-md-0 mt-5 text-center">
      <img src="assets/Instruments-Oil.png" alt="" class="img-fluid">
      <div class="h4 mt-md-0 mt-2 mb-3">
        Crude Oil
      </div>
      <a href="#" class="btn btn-secondary">Find Out More</a>
    </div>
  </div>
</div>
