<nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" routerLink="/">
    <img src="/assets/logo.png" height="60" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/ceo-message">CEO MESSAGE</a>
          <a class="dropdown-item" routerLink="/fullerton-edge">FULLERTON EDGE</a>
          <a class="dropdown-item" routerLink="/sponsorship">SPONSORSHIPS</a>
          <a class="dropdown-item" routerLink="/csr">FULLERTON FOUNDATION</a>
          <a class="dropdown-item" routerLink="/our-awards">OUR AWARDS</a>
          <a class="dropdown-item" routerLink="/career">CAREERS</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Trade</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/register">OPEN ACCOUNT</a>
          <a class="dropdown-item" routerLink="/spread-types">SPREAD TYPES</a>
          <a class="dropdown-item" routerLink="#">INSTRUMENTS</a>
          <a class="dropdown-item" routerLink="/funding-and-withdrawal">FUNDING AND WITHDRAWAL</a>
          <a class="dropdown-item" routerLink="/copy-trading">COPY TRADING</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Promotions</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Partnership</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" routerLink="/introducing-broker">INTRODUCING BROKER</a>
          <a class="dropdown-item" routerLink="/money-manager">MONEY MANAGER</a>
          <a class="dropdown-item" routerLink="/white-label">WHITE LABEL</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Media & Events</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://www.fullertonmarkets.com/important-notice">IMPORTANT NOTICE</a>
          <a class="dropdown-item" href="https://blog.fullertonmarkets.com/media">MEDIA</a>
          <a class="dropdown-item" href="https://www.fullertonmarkets.com/events">UPCOMING EVENTS</a>
          <a class="dropdown-item" href="https://www.fullertonmarkets.com/gallery">GALLERY</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Education</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://blog.fullertonmarkets.com/">BLOG</a>
          <a class="dropdown-item" href="https://register.gotowebinar.com/rt/3710096766801090817">LET'S TRADE LIVE</a>
          <a class="dropdown-item" href="https://www.fullertonmarkets.com/videos">VIDEO</a>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Support</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="https://www.fullertonmarkets.com/faq">FAQ</a>
          <a class="dropdown-item" href="https://secure.fullertonmarkets.com/chat/phplive.php" target="_blank">LIVE CHAT</a>
          <a class="dropdown-item" href="https://www.fullertonmarkets.com/terms-and-conditions">TERMS AND CONDITIONS</a>
          <a class="dropdown-item" href="https://www.fullertonmarkets.com/contact">CONTACT US</a>
        </div>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a routerLink="login" class="btn btn-outline-secondary my-2 my-sm-0">LOGIN</a>
    </form>
  </div>
</nav>
<!-- <nav class="navbar sticky-top navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">
    <img src="/assets/logo.png" height="40" alt="">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mx-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink="" routerLinkActive="active">Home
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="about/48">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="fullerton">List User</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="profile">Profile</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="register">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="login">Login</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <a href="#" class="btn btn-outline-secondary my-2 my-sm-0">LOGIN</a>
    </form>
  </div>
</nav> -->