.navbar-dark .navbar-nav .nav-link {
    color: #e3d9a6;
    text-transform: uppercase;
    font-size: .8rem;
    letter-spacing: .125rem;
    font-weight: 500;
    margin: 0 .5rem;
  }
  
  .navbar-dark .navbar-nav .nav-link:hover {
    color: #fff;
  }
  
  .navbar .dropdown:hover>.dropdown-menu {
    display: block;
  }
  
  .navbar .dropdown:hover > .dropdown-menu {
    background: #000;
    font-size: .8rem;
  }
  
  .navbar .dropdown:hover > .dropdown-menu .dropdown-item {
    color: #e3d9a6;
  }
  
  .navbar .dropdown:hover > .dropdown-menu .dropdown-item:hover {
    background:#e3d9a6;
    color: #000;
  }