<div class="cover-title">
  <div class="title-large text-capitalize font-weight-bold text-white">
      Introducing 
      Broker
  </div>
</div>
<div class="container">
  <div class="row mx-0">
    <p class="mt-3">
      Introducing Brokers (IBs) are partners who manage and run one or several business portfolios under the coveted brand of Fullerton
      Markets.
    </p>
    <p class="w-100">
      As an IB, you will get the following perks:
    </p>
    <ul class="no-padding">
      <li>Event appearances by the CEO himself</li>
      <li>High Rebates and Commissions</li>
      <li>Instant Rebate and Commission Payout</li>
      <li>Real-Time Reporting</li>
      <li>Powerful Back Office with Analytics</li>
      <li>World Class Marketing Tools</li>
      <li>Exclusive Training</li>
      <li>Full Access to Promotional Materials including Banners and Widgets</li>
      <li>Host Webinars/Events for your Traders</li>
    </ul>
  </div>
  <a routerLink="/register" class="btn btn-secondary btn-lg text-uppercase">Become an IB Today</a>
  <div class="small mt-3 mb-5">
    (Create a trading account on our platform, then register as an IB)<br>
    We take your interest seriously and would like to have
    an in depth understanding of your business. Please email us at <b>partners@fullertonmarkets.com</b>. Our dedicated Business
    Development Managers will contact you as soon as possible.
  </div>
</div>
