<div class="page-title">
  <span>{{ title }}</span>
</div>
<div class="container">
  <div class="row align-items-center p-3">
    <div class="col-2 text-center">
      <img src="/assets/features-1.png" alt="" class="img-fluid mb-3">
    </div>
    <div class="col-10">
      <div class="h4 mt-3">
        Unparalleled Fund Safety
      </div>
      <p>
        <b>Segregated Accounts</b> – Corporate funds and client funds are kept in separate bank accounts. All client funds are administered
        through separate trust accounts. This ensures that client funds are never used for the company’s operating expenses.
      </p>
      <p>
        Clients funds are administered through our Kiwi Global Ltd.’s trust accounts held with ANZ bank in New Zealand. Our trust
        accounts are monitored by our legal adviser and are subject to independent audit reviews. This ensures all client
        funds are safe-guarded against any form of misappropriation or mishandling.
      </p>
      <p>
        <b>ALL Trust fees are waived for deposits above USD1500.*</b>
      </p>
    </div>
  </div>
  <div class="row align-items-center p-3 border border-left-0 border-right-0 border-secondary">
    <div class="col-2 text-center">
      <img src="/assets/features-2.png" alt="" class="img-fluid mb-3">
    </div>
    <div class="col-10">
      <div class="h4 mt-3">
        Global Credibility
      </div>
      <p>
        A widely sought-after thinker in the finance industry, Mario has appeared more than 40 times on international media CNBC
        and Bloomberg, each time giving his market views to an estimated 350 million viewers worldwide. As an accomplished
        corporate consultant, Mario has been brought in by some of the biggest banks in the world to speak to their traders
        and clients. Some of his clientele include ICBC – China’s biggest bank, Julius Baer – the third largest Swiss bank
        and OCBC – ranked by Bloomberg as the world’s strongest bank in 2011 and 2012.
      </p>
    </div>
  </div>
  <div class="row align-items-center p-3">
    <div class="col-2 text-center">
      <img src="/assets/features-3.png" alt="" class="img-fluid mb-3">
    </div>
    <div class="col-10">
      <div class="h4 mt-3">
        Lightning Speed Execution
      </div>
      <p>
        With our world-class infrastructure, client trades are executed as fast as 20 milliseconds in Western Europe and 170 milliseconds
        in South-East Asia. Our data centres are located in prime locations all around the Asia Pacific region to ensure
        a seamless trading experience. The data centres are then connected to ultra-high speed servers located in London
        – the world’s largest financial centre. Our Metatrader4 servers are hosted on Equinix LD4, together with tier-one
        liquidity providers and banks, with network speeds of less than 1 millisecond. This world-class infrastructure is
        setup to ensure that all clients receive a trading experience like no other.
      </p>
      <p>
        Lightning speed execution and low latency connection accessible anytime, anywhere.
      </p>
    </div>
  </div>
  <div class="row align-items-center p-3 border border-left-0 border-right-0 border-secondary">
    <div class="col-2 text-center">
      <img src="/assets/features-4.png" alt="" class="img-fluid mb-3">
    </div>
    <div class="col-10">
      <div class="h4 mt-3">
        Tier One Liquidity Providers
      </div>
      <p>
        We offer our clients direct market access to the largest financial market in the world. Trades are executed with no requotes.
        This ensures that all our clients are given the best possible price when they want to buy or sell. We work with some
        of the biggest liquidity providers in the world to ensure that our clients enjoy price stability at competitive rates.
        We provide liquidity from some of the biggest global banks and ECNs including Credit Suisse, Citibank, Deutsche Bank,
        FXSpotStream, Hotspot, Barclays and J.P. Morgan.
      </p>
    </div>
  </div>

  <div class="row align-items-center p-3">
    <div class="col-2 text-center">
      <img src="/assets/features-5.png" alt="" class="img-fluid mb-3">
    </div>
    <div class="col-10">
      <div class="h4 mt-3">
        24-Hours Dedicated Support
      </div>
      <p>
        All clients are supported with a professional team of dedicated customer relationship managers. We place utmost priority
        in training our customer relationship managers to provide world-class support to all our clients. We ensure our customer
        relationship managers are patient, understanding and equipped with the right knowledge and skills to resolve clients’
        issues in the shortest possible time. Our team is contactable 24 hours a day, 5 days a week via our online live chat
        platform. Our support languages include English, Chinese, Bahasa (Indonesia & Malaysia), Thai and Vietnamese.
      </p>
    </div>
  </div>
</div>
