<div class="page-title">
  <span>{{ title }}</span>
</div>
<div class="container">

  <div class="row mx-0">
    <div class="col-md-4 mx-auto my-5">
      <img src="https://www.fullertonmarkets.com/hs-fs/hubfs/fullerton_markets/page/website/images/ProductLogo_MirrorTraderBH.png"
        alt="" class="img-fluid">
    </div>
  </div>
  <div class="row mx-0">
    <div class="h5">
      What is Mirror Trading?
    </div>
    <p>
      Mirror Trading is the core concept behind the unique offering of the Mirror Trader, Tradency’s innovative trading platform.
      The Mirror Trader provides technology for retail clients, which traditionally had only been available to institutional
      traders. The Mirror Trading concept is quite simple: Tradency servers keep track of strategy developers’ “buy” and
      “sell” signals. By using the Mirror Trader platform, traders can view, analyze and evaluate signals sent by experienced
      traders and execute the signals in their own account.
    </p>
  </div>
  <div class="row mx-0 my-5">
    <div class="embed-responsive embed-responsive-16by9">
      <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/dhuRgAOsjPM" frameborder="0" allow="autoplay; encrypted-media"
        allowfullscreen></iframe>
    </div>
    <p>
      Fullerton Markets has formed a collaboration with financial technology provider Tradency.
    </p>
  </div>
</div>
